@using Mimry.ViewModels;
@{
    ViewBag.Title = "Mimree Studio";
}
@section styles{
<style>
    .canvas-container {
        margin: 0 auto;
    }
</style>
}

<h2 style="text-align:center;">Mimree Studio: Create memes fast & easy</h2>
<br />
<div class="container" style="padding:10px; text-align:center;">
    <input id="memeUrl" type="text" class="form-control" style="max-width:500px; display:inline-block;" placeholder="Enter URL here..." />
    <br /><br />
    <input type="text" class="form-control memeCaption topCaption" style="max-width:500px; display:inline-block;" placeholder="Top caption..." /><br />
    <input type="text" class="form-control memeCaption genericCaption" style="max-width:500px; display:inline-block;" placeholder="Generic text..." /><br />
    <input type="text" class="form-control memeCaption bottomCaption" style="max-width:500px; display:inline-block;" placeholder="Bottom caption..." /><br />
    <br /><br />
    <div id="canvasWrapper" tabindex="0" style="outline:none;">
        <canvas id="cvPreview" width="@MimView.GetMaxMimSize(MimViewMode.Medium)" height="800" style="border:1px solid #888; border-radius:10px;"></canvas>
    </div>
</div>

@section scripts{
<script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.0/fabric.min.js"></script>
@Scripts.Render("~/bundles/studio")
}
