@{
    ViewBag.Title = "About Mimry";
}

<div class="jumbotron">
    <h2>Mim·ry</h2>
    <p>/mēmrē/</p>
    <div><span><i>noun</i></span></div>
    <table>
        <tr>
            <td width="50"><h4>1.</h4></td>
            <td>
                <h4>An ordered collection of memes that form a story.</h4>
            </td>
        </tr>
        <tr>
            <td><h4>2.</h4></td>
            <td>
                <h4>A collection of related memes.</h4>
            </td>
        </tr>
    </table>
    <div style="text-align:center;">
        <h2>Tell stories through memes with your friends</h2>
        <div class="bg-primary" style="font-size:20px; display:inline-block; border-radius: 5px; padding:20px; margin-top:50px;">Here is how</div>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-3">
                <h3>Step 1</h3> <br />
                <p>Create a meme</p>
                <div style="display:inline-block; border: 1px solid gainsboro; border-radius:5px; width:200px; height:200px; background-color:darkgray;"></div>
            </div>
            <div class="col-md-3">
                <h3>Step 2</h3> <br />
                <p>Pass to your friends</p>
                <div style="display:inline-block; border: 1px solid gainsboro; border-radius:5px; width:200px; height:200px; background-color:maroon;"></div>
            </div>
            <div class="col-md-3">
                <h3>Step 3</h3> <br />
                <p>Your friends add new ones</p>
                <div style="display:inline-block; border: 1px solid gainsboro; border-radius:5px; width:200px; height:200px; background-color:darkorange;"></div>
            </div>
            <div class="col-md-3">
                <h3>Step 4</h3> <br />
                <p>Laugh together</p>
                <div style="display:inline-block; border: 1px solid gainsboro; border-radius:5px; width:200px; height:200px; background-color:aquamarine;"></div>
            </div>
        </div>
    </div>
    <hr />
    <div style="text-align:center;">
        <h2>... Or browse a mimry to see what others laugh about</h2>
        <div class="row" style="margin-top:50px;">
            <div class="col-md-2">
                <div style="display:inline-block; border: 1px solid gainsboro; border-radius:5px; width:200px; height:200px; background-color:lightblue;"></div>
            </div>
            <div class="col-md-2">
                <div style="display:inline-block; border: 1px solid gainsboro; border-radius:5px; width:200px; height:200px; background-color:lightblue;"></div>
            </div>
            <div class="col-md-2">
                <div style="display:inline-block; border: 1px solid gainsboro; border-radius:5px; width:200px; height:200px; background-color:lightblue;"></div>
            </div>
            <div class="col-md-2">
                <div style="display:inline-block; border: 1px solid gainsboro; border-radius:5px; width:200px; height:200px; background-color:lightblue;"></div>
            </div>
            <div class="col-md-2">
                <div style="display:inline-block; border: 1px solid gainsboro; border-radius:5px; width:200px; height:200px; background-color:lightblue;"></div>
            </div>
            <div class="col-md-2">
                <div style="display:inline-block; border: 1px solid gainsboro; border-radius:5px; width:200px; height:200px; background-color:lightblue;"></div>
            </div>
        </div>
    </div>
    <hr />
    <div style="text-align:center;">
        <h2>Get started now!</h2>
        <div style="margin-top:50px;">
            <a class="btn btn-warning btn-lg" href="@Url.Action("Create", "MimSeqs")">+ Create a new Mimry</a>
        </div>
    </div>
</div>
