@{
    ViewBag.Title = "About Mimry";
}

<div class="jumbotron">
    <h1>Mim·ry</h1>
    <p>/mēmrē/</p>
    <div><span><i>noun</i></span></div>
    <table>
        <tr>
            <td width="50"><h4>1.</h4></td>
            <td>
                <h4>A collection of memes that form a story.</h4>
            </td>
        </tr>
        <tr>
            <td><h4>2.</h4></td>
            <td>
                <h4>A collection of related memes.</h4>
            </td>
        </tr>
    </table>
</div>