@model Mimry.ViewModels.MimSeqView

@{
    ViewBag.Title = "Details";
}

<div>
    @{
        var mimryHeader = new Mimry.ViewModels.MimryHeader() 
        {
            MimSeqID = Model.MimSeqID,
            Title = Model.Title,
            ReturnUrl = "/MimSeqs/Details/" + Model.MimSeqID,
            IsLiked = Model.IsLiked
        };
    }
    @Html.Partial("MimryHeader", mimryHeader)
	<hr />
    @{
        foreach (var mim in Model.MimViews)
        {
            <div style="text-align:center">
                <a href="/Mims/Details/@mim.MimID">
                    <img class="mim-full" src="/Mims/Mimage/@mim.MimID?caption=true" />
                </a>
            </div>
        }
    }
</div>