@model Mimry.Models.MimSeq

@{
    ViewBag.Title = "Details";
}

<div>
    @Html.Partial("MimryHeader", new Mimry.ViewModels.MimryHeader() { MimSeqID = Model.MimSeqID, Title = Model.Title, ReturnUrl = "/MimSeqs/Details/" + Model.MimSeqID })
	<hr />
    @{
        var sortedMims = Model.Mims.OrderBy(m => m.CreatedDate);
        foreach (var mim in sortedMims)
        {
            <div style="text-align:center">
                <a href="/Mims/Details/@mim.MimID">
                    <img class="mim-full" src="/Mims/Mimage/@mim.MimID?caption=true" />
                </a>
            </div>
        }
    }
</div>