@model IEnumerable<Mimry.ViewModels.MimSeqView>

@{
    ViewBag.Title = "Mimry";
}

<div class="container-fluid">
    @foreach (var it in Model)
    {
        var mimryHeader = new Mimry.ViewModels.MimryHeader()
        {
            MimSeqID = it.MimSeqID,
            Title = it.Title, 
            ReturnUrl = "/MimSeqs/Index/",
            IsLiked = it.IsLiked
        };
        @Html.Partial("MimryHeader", mimryHeader)

        foreach (var mimView in it.MimViews)
        {
            @Html.Partial("Mim", mimView)
        }
        <br />
        <hr />
    }
</div>