@model Mimry.ViewModels.MimSeqPageView

@{
    ViewBag.Title = "Mimry";
}

@Html.AntiForgeryToken()
<div id="mrMainView" class="container-fluid">
    @Html.Partial("MimryIndexContent", Model)
</div>