@model IEnumerable<Mimry.Models.MimSeq>

@{
    ViewBag.Title = "Mimry";
}

<div class="container-fluid">
    @foreach (var item in Model)
    {
        <hr class="divider" />
        <h3>@item.Title</h3>
        @:<div class="row">
        var sortedMims = item.Mims.OrderBy(m => m.CreatedDate);
        foreach (var mim in sortedMims)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="text-align: center; padding-top:5px; padding-bottom:5px;">
                <a href="/Mims/Details/@mim.MimID">
                    <img src="/Mims/Mimage/@mim.MimID?caption=true" style="width:100%; max-width:500px; max-height:500px;" />
                </a>
            </div>
        }
        @:</div>
        <br />
    }
</div>