@model IEnumerable<Mimry.Models.MimSeq>

@{
    ViewBag.Title = "Mimry";
}

<div class="container-fluid">
    @foreach (var item in Model)
    {
        @Html.Partial("MimryHeader", new Mimry.ViewModels.MimryHeader() { MimSeqID = item.MimSeqID, Title = item.Title, ReturnUrl = "/MimSeqs/Index/" })

        var sortedMims = item.Mims.OrderBy(m => m.CreatedDate);
        foreach (var mim in sortedMims)
        {
            <a href="/Mims/Details/@mim.MimID">
                <img class="img-rounded mim" src="/Mims/Mimage/@mim.MimID?caption=true"/>
            </a>
        }
        <br />
        <hr />
    }
</div>