@using Mimry.ViewModels
@model MimView

@{
    int maxSize = MimView.GetMaxMimSize(Model.ViewMode);
    double scale = Math.Min(1, (double)maxSize / Math.Max(Model.Width, Model.Height));
    double width = Model.Width * scale;
    double height = Model.Height * scale;
    double containerWidth = maxSize + MimView.ContainerPadding;

    var mimClass = String.Empty;
    var imageStyle = String.Empty;
    var imageSource = String.Empty;
    var containerWidthStyle = String.Empty;
    
    switch (Model.ViewMode)
    {
        case Mimry.ViewModels.MimViewMode.Thumbnail:
            mimClass = "img-rounded mim";
            imageStyle = "width=" + width + " height=" + height;
            imageSource = "data-original";
            containerWidthStyle = containerWidth + "px";
            break;
        case Mimry.ViewModels.MimViewMode.Medium:
        case Mimry.ViewModels.MimViewMode.Full:
            mimClass = "mim-full";
            imageStyle = String.Empty;
            imageSource = "src";
            containerWidthStyle = "100%";
            break;
    }

    if (Model.MimID != Guid.Empty)
    {
        var mimDetailUrl = Url.Action("Details", "Mims", new { id = Model.MimID });
        <div class="mim-container" style="width:@containerWidthStyle;">
            <div class="mim">
                <a class="acc_mim_details" href="@mimDetailUrl">
                    <img class="@mimClass" @imageStyle @imageSource="/Mims/Mimage/@Model.MimID?caption=true&mode=@Model.ViewMode"/>
                </a>
                <div class="ml-pin">
                    @Html.Partial("MimActions", new MimActionsView() { MimID = Model.MimID, Vote = Model.Vote })
                </div>
            </div>
        </div>
    }
    else
    {
        string addUrl = Url.Action("Add", "MimSeqs", new { id = Model.MimSeqID });
        string addSizeStyle = MimView.AddViewSize + "px";
        <div class="mim-container" style="width:@containerWidthStyle;">
            <a class="ml acc_mimry_add_box" href="@addUrl">
                <div class="mim mim-add" style="width:@addSizeStyle; line-height:@addSizeStyle">
                    <span style="font-size:larger;">ADD NEW</span>
                </div>
            </a>
        </div>
    }
}