@using Mimry.ViewModels
@model MimryCommentView

<div class="row">
    <div>
        <h4>@Model.Value</h4>
    </div>
    <div class="text-muted">
        <div class="mr-comment-actions">
            @Html.Partial("MimryCommentActions", new MimryCommentActionsView() { CommentID = Model.CommentID, Vote = Model.Vote })
        </div>
        @Model.User - @Model.LastModifiedDate.ToString()
    </div>
</div>