@using Mimry.ViewModels
@model MimSeqPageView

@if (Model != null && Model.MimSeqViews != null)
{
    var nextPageUrl = Url.Action("Index", new { page = Model.PageIndex });
    foreach (var msv in Model.MimSeqViews)
    {
        var mimryHeader = new Mimry.ViewModels.MimryHeader()
        {
            MimSeqID = msv.MimSeqID,
            Title = msv.Title,
            ReturnUrl = Url.Action("Details", "MimSeqs", new { id = msv.MimSeqID }),
            IsLiked = msv.IsLiked,
            IsOwner = msv.IsOwner,
            LikeCount = msv.LikeCount,
            CommentCount = msv.CommentCount
        };
        @Html.Partial("MimryHeader", mimryHeader)

        var viewMode = MimViewMode.Thumbnail;
        foreach (var mimView in msv.MimViews)
        {
            viewMode = mimView.ViewMode;
            @Html.Partial("Mim", mimView)
        }
        @Html.Partial("Mim", new MimView() {
            MimSeqID = msv.MimSeqID,
            MimID = Guid.Empty,
            ViewMode = MimViewMode.Thumbnail,
        })
        <hr />
    }

    <a class="infinite-more-link" href="@nextPageUrl"></a>
}
