@model Mimry.ViewModels.MimryHeader

<h2>
    <a class="ml" href="/MimSeqs/Details/@Model.MimSeqID" title="View">
        @Model.Title
    </a>
    @if (Model.IsOwner)
    {
        <a class="ml" href="/MimSeqs/Edit/@Model.MimSeqID?returnUrl=@Model.ReturnUrl" title="Change title">
            <i class="fa fa-edit"></i>
        </a>
    }
    <a class="ml" href="/MimSeqs/Add/@Model.MimSeqID?returnUrl=@Model.ReturnUrl" title="Add to this Mimry">
        <i class="fa fa-plus-square"></i>
    </a>
    @{
        var likeClass = Model.IsLiked ? "ml-liked" : "ml";
        var likeTitle = Model.IsLiked ? "Liked" : "Like";
        <button class="@likeClass" title="@likeTitle" onclick="likeMimry.call(this, '@Model.MimSeqID'); return false;">
            <i class="fa fa-thumbs-o-up"></i>
        </button>
    }
</h2>