@using Mimry.ViewModels
@model MimryHeader

<div class="mr-header">
    <a class="ml" href="/MimSeqs/Details/@Model.MimSeqID" title="View">
        @Model.Title
    </a>
    @if (Model.IsOwner)
    {
        <a class="ml" href="/MimSeqs/Edit/@Model.MimSeqID?returnUrl=@Model.ReturnUrl" title="Change title">
            <i class="fa fa-edit"></i>
        </a>
    }
    <a class="ml" href="/MimSeqs/Add/@Model.MimSeqID?returnUrl=@Model.ReturnUrl" title="Add to this Mimry">
        <i class="fa fa-plus-square"></i>
    </a>
    <div class="mr-header-actions">
        @Html.Partial("MimryHeaderActions", new MimryHeaderActionsView() { MimSeqID = Model.MimSeqID, IsLiked = Model.IsLiked })
    </div>
</div>