@using Mimry.ViewModels
@model MimryHeader

@{
    string divContainerStyle = String.Empty;
    if (Model.ViewMode == MimViewMode.Thumbnail)
    {
        divContainerStyle = "width:" + MimView.GetContainerSize(Model.ViewMode) + "px;";
    }
}

<div class="mr-header" style="@divContainerStyle">
    <a class="ml" href="/MimSeqs/Details/@Model.MimSeqID" title="View">
        @Model.Title
    </a>
    <br />
    @if (Model.IsOwner)
    {
        <a class="ml acc_mimry_edit" href="/MimSeqs/Edit/@Model.MimSeqID?returnUrl=@Model.ReturnUrl" title="Change title">
            <i class="fa fa-edit"></i>
        </a>
    }
    <a class="ml acc_mimry_add_link" href="/MimSeqs/Add/@Model.MimSeqID?returnUrl=@Model.ReturnUrl" title="Add to this Mimry">
        <i class="fa fa-plus-square"></i>
    </a>
    <a class="ml" href="/MimSeqs/Details/@Model.MimSeqID?returnUrl=@Model.ReturnUrl" title="View comments">
        <i class="fa fa-comments-o"></i>
        <span class="badge">@Model.CommentCount</span>
    </a>
    <div class="mr-header-actions">
        @Html.Partial("MimryHeaderActions", new MimryHeaderActionsView() 
        { 
            MimSeqID = Model.MimSeqID, 
            IsLiked = Model.IsLiked,
            LikeCount = Model.LikeCount
        })
    </div>
</div>