@model Mimry.ViewModels.MimryHeaderActionsView
@{
    var likeClass = "ajLike " + (Model.IsLiked ? "ml-liked" : "ml");
    var likeTitle = Model.IsLiked ? "Liked" : "Like";
    <input name="MimSeqID" type="hidden" value="@Model.MimSeqID" />
    <button class="@likeClass" title="@likeTitle">
        <i class="fa fa-thumbs-o-up"></i>
        <span class="badge">@Model.LikeCount</span>
    </button>
}
